
@model ProjeCore.Models.Birim
@{
    ViewData["Title"] = "BirimGetir";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h1>BirimGetir</h1>



<br />
@using (Html.BeginForm("BirimGuncelle", "Default", FormMethod.Post))
{
    <b>Departman ID</b>
    @Html.TextBoxFor(x => x.BirimID, new { @class = "form-control" })
    <br />
    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" })
    <br />
    <button class="btn-outline-dark btn">Departman Güncelle</button>
}

