
@model ProjeCore.Models.Birim
@{
    ViewData["Title"] = "YeniBirim";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h1>YeniBirim</h1>

<form class="form-group" method="post">
    <b>Birim Adı</b>
    @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" })
    <br />
    <button class="btn-info btn">Birim Ekle</button>
</form>

